*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    background-color: whitesmoke;
    overflow-x: hidden;
}

.center{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.title{
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 8px;
}

.sub-title{
    text-align: center;
}

.left{float: left;}
.right{float: right;}

.clear{clear: both;}

.w50{width: 50%;}

/*header*/
header{
    background-color: #b2ebf2;
    border: 2px gold solid;
}

.mobile{display: none;}

.menu{
    padding: 5px 0;
    display: block;
}

.menu-logo{
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    float: left;
    color: #fdd835;
}

.menu-logo img{
    margin: 5px 0;
    display: inline-block;
    max-height: 68px;
    border: 1px #ccc solid;
    border-radius: 5%;
    image-rendering: auto;
}

.texto-logo{
    padding: 0 5px;
}

.texto-logo h2{
    font-family: "Dancing Script", cursive;
}

.texto-logo p{
    font-weight: lighter;
    font-style: italic;
}

.texto-logo span{
    font-style: italic;
    font-weight: bolder;
}

.texto-logo{
    margin: 5px 0;
}

.menu-rapido{
    margin: 8px 0;
    display: block;
    float: right;
    color: white;
}

.menu-rapido ul li{
    display: inline;
    margin: 5px 0;
}

.menu-rapido ul li a{
    color: white;
    font-size: 22px;
    margin: 5px;
    text-decoration: none;
    text-align: center;
}

.menu-rapido ul li a:hover{
    color: #fdd835;
    font-weight: bold;
}

/*main-container*/
.main-container{
    background-color: whitesmoke;
}

.bolos-container h3{
    margin: 5px 0;
}

.info{
    padding: 3px;
    font-size: 18px;
    font-weight: bolder;
    margin: 8px 0;
}

.info p{
    font-weight: bold;
    font-style: italic;
    margin: 5px 0;
}

.info span{
    font-weight: lighter;
    font-style: italic;
    margin: 5px 0;
}

.bolo-singlo,.gurpo-info{
    margin: 15px 0;
    background-color: #aafeb8;
    border: #81d4fa 1px solid;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.bolo-id{
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 50%;
    transform: translateX(-25%);
    -ms-transform: translateX(-25%);
}

.bolo-id img{
    max-width: 220px;
    background-color: red;
}

.bolo-id .bolo-name{
    flex-direction: column;
    margin: auto 5px;
}

.bolo-name h2{
    font-weight: bold;
    font-size: 23px;
}

.bolo-name p{
    font-size: 18px;
    font-style: italic;
}

.bolo-name span{
    font-size: 15px;
    font-weight: lighter;
}

.bolo-especificacao{
    margin: 8px 0;
    width: 100%;
}

.tipo{
    padding-left: 50px;
}

.barra{
    border-right: black 1px solid;
}

.bolo-especificacao h2{
    font-size: 18px;
    font-weight: lighter;
    font-style: italic;
}

.bolo-singlo h3{
    margin: 5px;
    text-align: center;
    font-size: 15px;
}

.bolo-name a{
    text-decoration: none;
    font-size: 15px;
}

.bolo-especificacao ul li{
    list-style-position: inside;
}

.bolo-tabela{width: 100%;}

table{
    margin-top: 12px;
    background-color: #99fbd7;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translate(-50%)
}

table td, th {
  border: 1px solid #f9f871;
  text-align: left;
  padding: 8px;
}

.gurpo-info img{
    min-width: 150px;
    background-color: red;
}

.gurpo-info{
    display: flex;
    flex-direction: row;
}

.gurpo-info img{margin: 0 5px;}

.redes{
    border: #81d4fa 2px solid;
    background-color: #aafeb8;
    text-align: center;
    margin: 8px 0;
}

.redes h3{
    font-size: 25px;
    font-weight: bolder;
    font-style: oblique;
}

.redes a{
    font-family: "Dancing Script", cursive;
    font-size: 25px;
    text-decoration: none;
    margin: 5px 0;
}

.redes p{
    font-size: 18px;
    font-weight: bolder;
    margin-top: 5px;
}

.redes h5{
    font-size: 15px;
    font-style: italic;
}

.redes span{
    font-size: 18px;
    font-weight: lighter;
    font-style: italic;
}

@media (max-width: 820px){
    .menu-logo{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;
        position: relative;
        left: 50%;
        transform: translateX(-25%);
        -ms-transform: translateX(-25%);
    }

    .desk-top{
        display: none;
    }

    .mobile{
        display: block;
        width: 100%;
        margin: 8px 0;
    }

    .menu-rapido{
        display: block;
        position: relative;
        float: none;
    }

    .menu-rapido ul li{
        display: block;
        text-align: center;
    }

    .bolo-id{
        left: 0;
        transform: translateX(0);
        -ms-transform: translateX(0);
        margin: 5px 3px;
    }

}
